{% extends 'layout.html' %}
{% block title %}
<title>用户列表</title>
{% endblock %}
{% block content %}
<div style="margin-bottom:10px;">
    <a class="btn btn-primary" href="/user/add/" target="_blank">新建用户</a>
    <a class="btn btn-success" href="/user/add/modelform/" target="_blank">新建用户(基于ModelForm)</a>
</div>
<div class="panel panel-default">
    <!-- Default panel contents -->
    <div class="panel-heading">
        <span class="glyphicon glyphicon-th-list" aria-hidden="true"></span>
        用户列表
    </div>

    <!-- Table -->
    <table class="table">
        <thead>
        <tr>
            <th>ID</th>
            <th>姓名</th>
            <th>密码</th>
            <th>年龄</th>
            <th>余额</th>
            <th>创建时间</th>
            <th>性别</th>
            <th>部门</th>
        </tr>
        </thead>
        <tbody>
        {% for obj in user_info %}
        <tr>
            <th>{{obj.id}}</th>
            <td>{{obj.name}}</td>
            <td>{{obj.passwd}}</td>
            <td>{{obj.age}}</td>
            <td>{{obj.salary}}</td>
<!--            <td>{{obj.create_time}}</td>-->
            <td>{{obj.create_time|date:"Y-m-d"}}</td>
<!--            <td>{{obj.gender}}</td>-->
            <td>{{obj.get_gender_display}}</td>
<!--            <td>{{obj.departID_id}}</td>-->
            <td>{{obj.departID.title}}</td>
            <td>
                <a class="btn btn-primary btn-xs"
                   href="/user/{{obj.id}}/edit/">编辑</a>
                <a class="btn btn-danger btn-xs"
                   href="/user/delete/?nid={{obj.id}}">删除</a>
            </td>
        </tr>
        {% endfor %}

        </tbody>
    </table>
</div>
{% endblock %}