<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1>用户列表</h1>
<table border="1">
    <thead>
    <tr>
        <td>ID</td>
        <td>name</td>
        <td>password</td>
        <td>realname</td>
        <td>mobile</td>
    </tr>
    </thead>
    <tbody>
    {% for item in data_list %}
<!--    flask自带的占位符可以用来进行编程-->
        <tr>
<!--            item为一个字典，可以通过下列方式直接找到对应键的值-->
            <td>{{item.id}}</td>
            <td>{{item.username}}</td>
            <td>{{item.passwd}}</td>
            <td>{{item.real_name}}</td>
            <td>{{item.mobile}}</td>
        </tr>
    {% endfor %}
    </tbody>
</table>
</body>
</html>